[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "3"
click = "*"
pydash = "5"
half-orm = ">=0.7.4"
half-orm-packager = {editable = true, path = "."}

[dev-packages]
pytest = "*"
twine = "*"
build = "*"
pylint = "*"

[scripts]
hop = "python -m half_orm_packager.hop:main"
