[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "3"
click = "*"
pydash = "5"
half-orm = "==0.8.0rc0"
half-orm-dev = {editable = true, path = "."}

[dev-packages]
pytest = "*"
twine = "*"
build = "*"
pylint = "*"

[scripts]
hop = "python -m half_orm_dev.hop:main"

[pipenv]
allow_prereleases = true
