[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
half-orm = ">=0.5.8"
gitpython = "3"
click = "*"
pydash = "5"

[dev-packages]
pytest = "*"
half-orm-packager = {editable = true, path = "."}
twine = "*"
build = "*"
gitpython = "*"
pylint = "*"

[scripts]
hop = "python -m half_orm_packager.hop:main"
